[submodule "files/.vim/bundle/vim-snipmate"]
	path = files/.vim/bundle/vim-snipmate
	url = git://github.com/garbas/vim-snipmate.git
[submodule "files/.vim/bundle/vim-addon-mw-utils"]
	path = files/.vim/bundle/vim-addon-mw-utils
	url = git://github.com/MarcWeber/vim-addon-mw-utils.git
[submodule "files/.vim/bundle/tlib_vim"]
	path = files/.vim/bundle/tlib_vim
	url = git://github.com/tomtom/tlib_vim.git
[submodule "files/.vim/bundle/syntastic"]
	path = files/.vim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "files/.vim/bundle/ack.vim"]
	path = files/.vim/bundle/ack.vim
	url = git://github.com/mileszs/ack.vim.git
[submodule "files/.vim/bundle/vim-snippets"]
	path = files/.vim/bundle/vim-snippets
	url = git://github.com/honza/vim-snippets.git
[submodule "files/.vim/bundle/vim-coffee-script"]
	path = files/.vim/bundle/vim-coffee-script
	url = https://github.com/kchmck/vim-coffee-script.git
[submodule "files/.vim/bundle/vim-python-pep8-indent"]
	path = files/.vim/bundle/vim-python-pep8-indent
	url = https://github.com/hynek/vim-python-pep8-indent.git
[submodule "files/.vim/bundle/rust.vim"]
	path = files/.vim/bundle/rust.vim
	url = git://github.com/wting/rust.vim.git
[submodule "files/.vim/bundle/vim-jinja2-syntax"]
	path = files/.vim/bundle/vim-jinja2-syntax
	url = https://github.com/Glench/Vim-Jinja2-Syntax.git
[submodule "files/.vim/bundle/vimerl"]
	path = files/.vim/bundle/vimerl
	url = https://github.com/jimenezrick/vimerl.git
[submodule "files/.vim/bundle/vim-abolish"]
	path = files/.vim/bundle/vim-abolish
	url = https://github.com/tpope/vim-abolish.git
[submodule "files/.vim/bundle/vim-capnp"]
	path = files/.vim/bundle/vim-capnp
	url = https://github.com/cstrahan/vim-capnp.git
[submodule "files/.vim/bundle/vim-rust"]
	path = files/.vim/bundle/vim-rust
	url = https://github.com/wting/rust.vim.git
[submodule "files/.vim/bundle/vim-toml"]
	path = files/.vim/bundle/vim-toml
	url = https://github.com/cespare/vim-toml.git
[submodule "files/.vim/bundle/ctrlp.vim"]
	path = files/.vim/bundle/ctrlp.vim
	url = https://github.com/ctrlpvim/ctrlp.vim.git
[submodule "files/.vim/bundle/vim-fugitive"]
	path = files/.vim/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "files/.vim/bundle/tcomment.vim"]
	path = files/.vim/bundle/tcomment.vim
	url = https://github.com/tomtom/tcomment_vim.git
[submodule "files/.vim/bundle/vim-ansible-yaml"]
	path = files/.vim/bundle/vim-ansible-yaml
	url = git://github.com/chase/vim-ansible-yaml.git
