[user]
    email = jakub@stasiak.at
    name = Jakub Stasiak

[alias]
    st = status

    df = diff
    ds = diff --staged

    ci = commit
    cia = commit --all
    ciaa = commit --all --amend
    ciam = commit --amend

    br = branch
    bra = branch -a

    lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cd) %C(bold blue)<%an>%Creset' --abbrev-commit
    lga = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cd) %C(bold blue)<%an>%Creset' --abbrev-commit --all
    lgm = log --graph --format=medium
    lp = log -p

    co = checkout

    su = submodule update
    sui = submodule update --init

    pom = push origin master
    f = fetch
    fa = fetch --all

    # Borrowed from http://stackoverflow.com/questions/9651898/is-there-a-git-sed-or-equivalent/9652183#9652183
    # gsed has a priority because OS X's sed is not playing nicely here
    sed = ! git grep -z --full-name -l '.' | xargs -0 `which gsed >/dev/null && echo gsed || echo sed` -i -e

    # usage: git generate-github-fork-remote FORK_OWNER_NAME
    generate-github-fork-remote = "! f() { git remote --verbose | grep origin | tr '\\n' ' ' | sed -E \"s/^.*(git@github\\.com:|https:\\/\\/github.com\\/)([^/]+)\\/([^/]+\\.git).*$/https:\\/\\/github.com\\/$1\\/\\3/\"; }; f"

    # usage: git add-github-fork-remote FORK_OWNER_NAME
    add-github-fork-remote = "! f() { git remote add $1 `git remote --verbose | grep origin | tr '\\n' ' ' | sed -E \"s/^.*(git@github\\.com:|https:\\/\\/github.com\\/)([^/]+)\\/([^/]+\\.git).*$/https:\\/\\/github.com\\/$1\\/\\3/\"`; }; f"

    all-files-ever = ! git log --pretty=format: --name-only --diff-filter=A --all | sort -u

[log]
    date = iso

[color]
    diff = auto
    status = auto
    branch = auto

[core]
    autocrlf = input
    editor = vim
    excludesfile = ~/.gitignore_global
    abbrev = 12

[pretty]
        fixes = Fixes: %h (\"%s\")

[apply]
    whitespace = nowarn

[branch]
    autosetuprebase = always

[rerere]
    enabled = 1

[commit]
    # Includes diff in commit message template context
    verbose = true
