[user]
    email = jakub@stasiak.at
    name = Jakub Stasiak

[alias]
    st = status
    ci = commit
    lp = log -p
    br = branch -a
    lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cd) %C(bold blue)<%an>%Creset' --abbrev-commit
    lga = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cd) %C(bold blue)<%an>%Creset' --abbrev-commit --all
    ll = log --graph --format=medium
    lc = log ORIG_HEAD.. --stat --no-merges
    ds = diff --staged
    co = checkout

[log]
    date = iso

[color]
    diff = auto
    status = auto
    branch = auto

[core]
    autocrlf = input
    editor = vim
    excludesfile = ~/.gitignore_global

[apply]
    whitespace = nowarn

[branch]
    autosetuprebase = always

[rerere]
    enabled = 1
